html{
    box-sizing: border-box;
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

*, *::before, *::after{
    box-sizing: inherit;
}
#map{
    height: 60vh;
}
h1{
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    font-size: 2rem;
    padding: 0 3rem;
}
.gm-style-iw-d{
    color: black;
}